{% extends "layout/default/template.twig" %}
{% block title %}{{title}}{% endblock %}

{% block content %}

<div class="card">
    <div class="card-body">
        <h1 class="card-title">
            {{asunto}} 
            <a href="{{BASE}}productos/create" class="btn btn-outline-secondary">Nuevo Producto</a>
        </h1>
        {% include 'partials/_messages.twig' %}
        {% if productos %}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Stock</th>
                        <th>categoria</th>
                        <th>Autor</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for model in productos  %}
                        <tr>
                            <td>{{model.id}}</td>
                            <td>{{model.nombre}}</td>
                            <td>{{model.precio}}</td>
                            <td>{{model.stock}}</td>
                            <td>{{model.category.nombre}}</td>
                            <td>{{model.usuarios.nombre}}</td>
                            <td>
                                <a href="{{BASE}}productos/show/{{model.id}}"
                                    class="btn btn-success btn-sm">Ver</a>
                                <a href="{{BASE}}productos/edit/{{model.id}}" 
                                    class="btn btn-warning btn-sm">Editar</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="text-info">{{ mensaj}}</p>
        {% endif %}
    </div>
</div>

{% endblock %}