<div class="col-3">
    <a href="{{BASE}}productos/detalleproducto/{{producto.id}}">
        <div>
            <div class="producto">
                <p><b>{{producto.nombre}}</b></p>
                <img src="{{BASE}}public/img/{{img.nombre}}" alt="{{producto.nombre}}">
                <p>{{producto.category.nombre}}</p>
                <div>
                    <p>{{producto.precio}}&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&ensp;{{producto.stock}}</p>
                </div>
            </div>
        </div>
    </a>
</div>