<form action="{{BASE}}{{process}}" method="post">
    <div class="mb-3">
        <label for="rol" class="form-label">{{asunto}}</label>
        <div class="mb-4">
            <label for="rol" class="form-label">rol </label>
            <input type="text" name="nombre" value="{{roles.nombre|default("")}}" class="form-control" id="rol" aria-describedby="rol">
        </div><br>
    </div>
    <input type="hidden" name="_method" value="PUT">
    <input type="hidden" name="send" value="{{send}}">
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>